.fa-youtube{
    color: dimgray;
    transition: 1s;
}
.fa-youtube:hover{
    color: red;
}
.tooltip {
    position: relative;
}

.tooltip>span{
    background-color: dimgray;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 8px #ccc;
    position: absolute;
    top: 30px;
    left: 180px;
    display: none;

}
.tooltip:hover span {
    display: block;
}
.tooltip>span::before{
    content: "";
    border: 10px;
    border-style: solid;
    border-color: transparent red transparent transparent ;
    position: absolute;
    left: -20px;
}