
*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(255, 149, 0);
}
header>nav>img{
    height: 64px;
}
header>nav>ul{
    list-style-type: none;
    float: right;
}
header>nav>ul>li{
    display: inline-block;
    padding: 25px;
}
header>nav>ul>li:hover{
   background-color:yellowgreen ; 
}
header>nav>ul>li>a{
    color: rgb(242, 226, 6);
    text-decoration: none;
}
header>nav>ul>li:hover a{
    color: blue;
}

/* p2.html */
.commonBanner {
    height: 400px;
    text-align: center;
    color: white;
    padding: 20px;
}
.commonBanner>div {
    background-color: rgba(0,0,0,0.3);
    padding: 30px;
    line-height: 2;
    display: inline-block;
    box-shadow: -2px -2px 6px black, 2px 2px 6px black;
}
.commonBanner>div>h1 {
    font-size: 60px;
    text-shadow: -3px -3px 3px black;
}
.banner1 {
    background-color: teal;
}

/* p3.html */
.banner2 {
    background-image: url(../images/desktop.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}